@import url('https://fonts.cdnfonts.com/css/satoshi');   

:root{
    /* COLORES */
    --low-lilac: #E8DAED;
    --mid-lilac: #AD88B0;
    --high-lilac: #755B7D;
    --slate-lilac: #4A404E;
    --low-lavender: #D1B8E0;
    --mid-lavender: #8774A4;
    --high-lavender: #4F4A6E;
    --slate-lavender: #373a51;
    --low-blue-slate-gray: #929cb0;
    --high-blue-slate-gray: #2A313E;
    --low-lilac-slate-gray: #36353C;
    --high-lilac-slate-gray: #242a29;
    /* MEDIDAS */
    --img-playlist-nav-size: 95px;
    --img-playing-song-size: 150px;
    --radius: 5px;
    --separation: 20px;
}

/* Atributos que afectan a todas las etiquetas */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
    user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

a[href*="utm_source=000webhostapp"] {
    display: none !important;
}

body{
    min-height: 100vh;
    background: linear-gradient(45deg, var(--high-lilac-slate-gray) 50%, var(--slate-lavender)) fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ,---------- LOADER ----------, */

.card_loader {
    width: 220px;
    height: 273px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.big-card-container .card_loader{
    width: 33%;
    margin-bottom: 40px;
}


.big-card-container .card_loader section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
}

.card__skeleton {
    background-image: linear-gradient(
            90deg,
            var(--high-lilac-slate-gray) 0px,
            rgb(55 58 81 / 90%) 40px,
            var(--high-lilac-slate-gray) 80px
        );
    background-size: 300%;
    background-position: 100% 0;
    border-radius: inherit;
    animation: shimmer 1.5s infinite;
}

.card__image {
    height: 200px;
    width: 200px;
    margin-bottom: 5px;
}

.card__title {
    height: 27px;
    width: 80%;
    border-radius: 15px;
}

.big-card-container .card_loader section .card__title {
    width: auto;
    height: 35px;
}

.big-card-container .card_loader section .card__title:nth-child(2) {
    flex-grow: 1;
}

.card__artist {
    height: 21px;
    width: 50%;
    border-radius: 15px;
    margin-top: 5px;
}

.big-card-container .card_loader section .card__artist{
    height: 25px;
}

@keyframes shimmer {
    to {
        background-position: -100% 0;
    }
}

/* ^---------- LOADER ----------^ */

h1{
    font-size: 90px;
    color: var(--mid-lilac);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h3{
    font-size: 35px;
    color: var(--low-lilac);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h4{
    font-size: 15px;
    color: var(--low-blue-slate-gray);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

table{
    border-collapse: collapse;
    border-spacing: 0; 
}

img{
    pointer-events: none;
}

th, td{
    padding-left: var(--separation);
}

.main-content{
    display: flex;
    flex-direction: column;
}

/* Contenedor de relleno, que simulará margen adicional */
.filler{
    width: inherit;
    height: var(--separation);
    background: linear-gradient(45deg, var(--high-lilac-slate-gray) 50%, var(--slate-lavender)) fixed no-repeat;
    position: sticky;
}

.table-border{
    height: 3px;
    width: 100%;
    background-color: var(--mid-lilac);
    position: sticky;
    bottom: 0;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="range"] {
    width: 100px;
    height: 10px;
    background: var(--high-lilac);
    border-radius: var(--global-radius);
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

/* Contenedor de input de rango */
.range-input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor de input de contraseña */
.password-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Icono de visibilidad de contraseña */
.password-container span{
    color: var(--mid-lilac);
    margin-left: -24px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Input para agregar una contraseña */
.password-container input{
    padding: 8px 30px 8px 8px !important;
}

/* Cursor del input de rango (Chrome) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: var(--mid-lilac);
    border-radius: 50%;
    box-shadow: -107px 0 0 100px var(--mid-lilac);
}

/* Cursor del input de rango (Mozilla) */
input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: var(--mid-lilac);
    border-radius: 50%;
    box-shadow: -107px 0 0 100px var(--mid-lilac);
}

/* Imagen del landing principal */
#comet{
    width: 700px;
    margin-top: 10px;
}

#main-divider{
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 20px;
    padding-right: 20px;
    max-height: calc(100vh - 140px);
    width: 100%;
    z-index: 6;
}

#main-divider .filler{
    position: sticky;
    bottom: 0;
    height: 24px;
    z-index: 7;
    background: linear-gradient(45deg, var(--high-lilac-slate-gray) 50%, var(--slate-lavender)) fixed no-repeat;
}

#main-divider::-webkit-scrollbar {
    width: 0;
}

/* Fondo de la barra vertical de la navegación */
#main-divider::-webkit-scrollbar-track {
    background-color: var(--high-lilac);
}

/* Cursor de la barra vertical de la navegación */
#main-divider::-webkit-scrollbar-thumb {
    background-color: var(--mid-lilac);
    border-radius: 2px;
}

.artist-redirect{
    text-decoration: none;
}

.artist-redirect:hover{
    text-decoration: underline;
    cursor: pointer;
}

#home-real .artist-redirect:hover{
    text-decoration: none;
}

