/* Encabezado principal, contendrá con controladores para hacer búsquedas, acceder a tu usuario y volver al menú principal */
header{
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--global-separation);
    background: linear-gradient(to top right, var(--high-lilac-slate-gray), 70%, var(--slate-lavender)) fixed no-repeat;
    position: sticky;
    top: 0;
    z-index: 10;
}


/* Los contenedore4s de la clase 'material-symbols-rounded',  */
header .material-symbols-rounded{
    color: var(--mid-lilac);
    font-size: 40px;
    width: auto;
    height: 40px;
    margin-right: 10px;
}


/* Primer contenedor de la clase 'centered', cogerá el espacio restante */
header .centered:first-child{
    justify-content: left;
    margin-right: 15px;
    flex: 1;
  
}


/* Etiqueta SPAN del primer contenedor de la clase 'centered' */
header .centered:first-child span{
    transition: all ease-in 0.2s;
}


/* Etiqueta SPAN del primer contenedor de la clase 'centered' AL TENER EL PUNTERO ENCIMA */
header .centered:first-child span:hover{
    color: var(--high-lilac);
}


/* Segundo contenedor de la clase 'centered' */
header .centered:nth-child(2){
    margin-top: 3px;
    border-bottom: 3px solid var(--mid-lilac);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}


/* Segundo contenedor de la clase 'centered' AL HACER CLIC */
header .centered:nth-child(2):active {
    transform: scale(0.95);
}


/* Icono 'search' */
#search{
    margin-bottom: -5px;
    font-size: 30px;
}


/* Input de búsqueda */
#search-input {
    width: 400px;
    height: 40px;
    background-color: transparent;
    outline: none;
    transition: all ease 0.3s;
    color: var(--low-lilac);
    font-size: 15px;
    flex: 1;
}

/* Marca de texto del input de búsqueda */
#search-input::placeholder{
    font-size: 15px;
    color: var(--low-blue-slate-gray);
}

/* Contenedor del icono del usuario */
#user-icon{
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    height: inherit;
    border-radius: var(--global-radius);
}


/* Estilos de la etiqueta imagen, que se encuentra dentro del contenedor 'user-icon' */
#user-icon img{
    width: 40px;
    height: 40px;
    border-radius: 30%;
}