#main-divider{
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 160px;
    padding-right: 20px;
    max-height: calc(100vh - 140px);
}

#main-divider .filler{
    position: sticky;
    bottom: 0;
    height: 24px;
    background: linear-gradient(to top right, var(--high-lilac-slate-gray), 70%, var(--slate-lavender)) fixed no-repeat;
}

#main-divider::-webkit-scrollbar {
    width: 5px;
}

/* Fondo de la barra vertical de la navegación */
#main-divider::-webkit-scrollbar-track {
    background-color: var(--high-lilac);
}

/* Cursor de la barra vertical de la navegación */
#main-divider::-webkit-scrollbar-thumb {
    background-color: var(--mid-lilac);
    border-radius: 2px;
}

#scroll-left, #scroll-right {
    position: absolute; /* Añadido para posicionar los botones dentro del div */
    top: 30%; /* Centra verticalmente */
    transform: translateY(-50%); /* Centra verticalmente */
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    opacity: 0; /* Inicialmente invisibles */
    transition: opacity 0.3s ease;
    z-index: 1; /* Para que estén sobre las cards */
    color: pink;
}

#scroll-left {
    left: 50;
}

#scroll-right {
    right: 0;
}

/* ,---------- ALBUM PLAYLIST ----------, */

#main-albums,
#main-playlists{
    display: flex;
    overflow-x: hidden; /* Cambiado a hidden para ocultar la barra de desplazamiento */
    position: relative; /* Añadido para posicionar correctamente los botones */
}

.album-a,
.playlist-div-a{
    padding: 10px;
    border-radius: 10px;
    max-width: 220px;
    margin: 0 var(--global-separation) 0 0;
    transition: 300ms;
}

.album-a:hover,
.playlist-div-a:hover{
    background-color: var(--high-lilac);
}

.album,
.playlist-div{
    max-width: 200px;
}

.album h3,
.playlist-div h3{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    font-size: 20px;
}

.album h4,
.playlist-div h4{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

.album img,
.playlist-div img{
    width: 200px;
    border-radius: 10px;
}

/* ^---------- ALBUM PLAYLIST ----------^ */


/* ,---------- ARTIST ----------, */

#main-artists{
    display: flex;
    overflow-x: hidden; /* Cambiado a hidden para ocultar la barra de desplazamiento */
}

.artist {
    margin: 10px;
    position: relative;
    width: 200px;
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 300ms;
}

.artist h3 {
    font-size: 43px;
    position: absolute;
    bottom: 0;
    display: block;
}

.artist.h3-oculto h3 {
    font-size: 43px;
    position: absolute;
    bottom: 0;
    display: none;
}

/* ^---------- ARTIST ----------^ */


/* ,---------- TRACKS ----------, */

#top-50-songs{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.track-a{
    margin: 10px;
    flex: 0 0 auto;
    margin: 5px; /* Espacio entre los elementos */
    padding: 10px;
    /* Establece el tamaño relativo del elemento */
    width: calc((100% / 7) - 10px); /* Por ejemplo, tres elementos por fila */
    /* Ajusta este valor según el número de elementos que desees mostrar por fila */
}

.track img{
    width: 100%;
    border-radius: 10px;
}

.track h3{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    font-size: 20px;
}

.track h4{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

/* ^---------- TRACKS ----------^ */