#greetings{
    font-size: 70px;
    color: var(--low-blue-slate-gray);
    margin-top: 20px;
}

/* Contenedor deslizable principal */
.scroll-container{
    display: flex;
    margin: 10px 0 30px 0;
}

/* Botones de scroll de tarjetas (artistas, albums, canciones) */
.scroll-left, .scroll-right{
    border-radius: var(--radius);
    color: var(--mid-lilac);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--high-lilac-slate-gray) 50%, var(--slate-lavender)) fixed;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 3;
    border-radius: 0;
}

.scroll-left:active, .scroll-right:active{
    color: var(--low-lilac);
}

.scroll-left span, .scroll-right span{
    font-size: 40px;
}


/* Separador con borde */
.hr{
    width: 100%;
    border-bottom: 3px solid var(--mid-lilac);
    margin-top: var(--separation);
    margin-bottom: var(--separation);
}

/* ,---------- RANDOM ----------, */

#random-container{
    height: 220px;
    margin-bottom: 30px;
    display: flex;
    overflow-y: hidden;
    flex-direction: row;
}


/* ,---------- CARDS ----------, */

.scroll-container div:nth-child(2){
    display: flex;
    overflow-x: hidden; /* Cambiado a hidden para ocultar la barra de desplazamiento */
    position: relative; /* Añadido para posicionar correctamente los botones */
    flex: 1; 
}

.card-a{
    padding: 10px;
    border-radius: 10px;
    max-width: 220px;
    margin: 0 var(--global-separation) 0 0;
    transition: 300ms;
}

.card-a:hover{
    background-color: var(--slate-lilac);
}

.card{
    max-width: 200px;
}

.card h3{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    font-size: 20px;
}

.card h4{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

.card img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-image:linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}

/* ,---------- BIG CARDS ----------, */

.big-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 40px;
    margin-top: 10px;
}

.big-card-a{
    width: 33.33%;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.big-card-a:hover{
    background-color: var(--slate-lilac);
}

.big-card{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.big-card img{
    width: 200px;
    height: inherit;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
}

.big-card section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 0 20px;
}

.big-card h3:first-child{
    font-size: 35px;
    color: var(--low-lilac);
    flex-grow: 1;
}

.big-card h3:not(:first-child){
    font-size: 27px;
    color: var(--low-blue-slate-gray);
}

.big-card h4{
    font-size: 17px;
    color: var(--low-lilac);
    margin-bottom: 10px;
}

/* ,---------- ARTIST ----------, */

#main-artists a:hover h3, #searched-artists a:hover h3{
    color: var(--low-blue-slate-gray);
}

.artist {
    margin: 10px;
    position: relative;
    width: 200px;
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 300ms;
}

.artist h3 {
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    display: block;
    width: 170px;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.artist.h3-oculto h3 {
    font-size: 43px;
    position: absolute;
    bottom: 0;
    display: none;
}

/* ^---------- ARTIST ----------^ */



/* ^---------- TRACKS ----------^ */

#viral-50-songs section, #top-50-songs section{
    display: flex;
    flex-direction: row;
}

#viral-50-songs, #top-50-songs{
    flex-direction: column;
}


/* ,---------- FOOTER ----------, */

.footer{
    height: 220px;
    padding: var(--separation);
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.footer section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.company-info{
    display: flex;
    align-items: center;
    gap: var(--separation);
    width: 700px;
}

.company-info img{
    width: 170px;
    height: auto;
}

.company-name{
    font-size: 27px;
    font-weight: bold;
    color: var(--low-blue-slate-gray);
}

.company-desc{
    font-size: 20px;
    color: var(--mid-lilac);
}

.contact{
    width: fit-content;
}

.contact:last-child{
    flex-direction: row;
    gap: 30px;
}


.contact a{
    color: var(--low-blue-slate-gray);
}

.contact a:hover{
    text-decoration: underline;
}

.contact section{
    flex-direction: row;
    align-items: center;
}

.contact .material-symbols-rounded{
    padding: 5px;
    width: fit-content;
    border-radius: var(--radius);
    background-color: var(--high-lilac);
    color: var(--low-lilac);
}

.footer section .contact-info{
    color: var(--low-lilac);
}
