/* Contenedor vertical izquierdo que muestra las playlists del usuario y el álbum de la canción que se está reproduciendo */
.nav-playlists{
    width: 140px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

/* Contenedor flexible adaptable al alto de la pantalla */
#vertical-container{
    flex-grow: 1;   
    display: flex;
    flex-direction: column;
    min-height: 0;
}


/* Contenedor que habilita el deslizamiento vertical, en base a la altura del contenedor vertical principal */
#scrollable-content{
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 0;
    padding-left: var(--separation);
    visibility: hidden;
}


/* Primero contenedor de la clase 'filler', se queda pegado arriba del contenedor donde se encuentra */
#scrollable-content .filler:first-child {
    position: sticky;
    top: 0;
}


/* Último contenedor de la clase 'filler', se queda pegado abajo del contenedor donde se encuentra */
#scrollable-content .filler:last-child {
    position: sticky;
    bottom: 0;
    height: 24px;
}


/* Ancho de la barra de desplazamiendo del contenedor 'scrollable-content' */
#scrollable-content::-webkit-scrollbar {
    width: 5px;
}


/* Fondo de la barra de desplazamiendo del contenedor 'scrollable-content' */
#scrollable-content::-webkit-scrollbar-track {
    background-color: var(--high-lilac);
}


/* Cursor de la barra de desplazamiendo del contenedor 'scrollable-content' */
#scrollable-content::-webkit-scrollbar-thumb {
    background-color: var(--mid-lilac);
    border-radius: 2px;
}


/* Contenedor de la clase 'playlist', define el visual de la playlist en la barra vertical */
.playlist{
    width: 95px;
    height: 95px;
    background-color: deeppink;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--separation)
}

/* Último contenedor de la clase 'playlist', se le suprime el margen */
#playlist-list li:last-child .playlist{
    margin-bottom: 0;
}


/* Contenedor del álbum de la canción reproducida en el momento */
#img-current-song{
    height: 140px;
    padding: 0 0 var(--separation) var(--separation);
}


/* Estilos de la etiqueta imagen, que se encuentra dentro del contenedor 'img-current-song' */
#img-current-song img{
    width: 100%; 
    height: auto;
    border: 5px solid var(--mid-lilac);
    border-radius: var(--radius);
    border-top-right-radius: 0px;
}

#create-playlist{
    background-image: url(../img/default-add.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease-in 0.2s;
}

#create-playlist:hover{
    cursor: pointer;
    background-image: url(../img/default-add-darker.png);
}