.player{
    background: linear-gradient(to top right, var(--high-lilac-slate-gray), 70%, var(--slate-lavender) fixed no-repeat);
    height: 140px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 7;
    display: flex;
    flex-direction: column;
    padding-left: 140px;
}


/* Modificaciones en el propio input de rango que actúa como la barra de progreso de la canción actual */
#main-range-input input{
    height: 5px;
    flex-grow: 1;
    border-radius: 0;
}

#main-range-input input::-webkit-slider-thumb {
    box-shadow: -3007px 0 0 3000px var(--mid-lilac);
}

#main-range-input input::-moz-range-thumb {
    box-shadow: -3007px 0 0 3000px var(--mid-lilac);
}

/* Contenedor que incluye los iconos controladores de la canción actual */
#controls-playing-song{
    height: 110px;
    display: flex;
    flex-direction: row;
    padding: 0 var(--separation);
}

/* Contenedor que incluye el título y los artistas de la canción actual */
#playing-song-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

#playing-song-buttons{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

/* Iconos que representan los botones para manipular la canción */
#playing-song-buttons span{
    color: var(--mid-lilac);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 35px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

#playing-song-buttons span:active {
    transform: scale(0.75);
}

/* Icono de mezclar canciones */
#shuffle{
    margin-left: 5px;
    font-size: 29px !important;  
}

/* El span del icono del menú, tiene un margen izquierdo adicional */
#menu{
    margin-left: 15px;
}

/* Contenedor en donde el input del cambio de volumen se encuentra */
.range-input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Aparecia del input de rango */
input[type="range"] {
    width: 100px;
    height: 10px;
    background: var(--high-lilac);
    border-radius: var(--radius);
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

/* Cursor del input de rango (Chrome) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: var(--mid-lilac);
    border-radius: 50%;
    box-shadow: -107px 0 0 100px var(--mid-lilac);
}

/* Cursor del input de rango (Mozilla) */
input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: var(--mid-lilac);
    border-radius: 50%;
    box-shadow: -107px 0 0 100px var(--mid-lilac);
}

/* Modificaciones en el contenedor del input de rango que actúa como la barra de progreso de la canción actual */
#main-range-input{
    display: flex;
    align-items: end;
}

/* Modificaciones en el propio input de rango que actúa como la barra de progreso de la canción actual */
#main-range-input input{
    height: 5px;
    flex-grow: 1;
    border-radius: 0;
}

#main-range-input input::-webkit-slider-thumb {
    box-shadow: -3007px 0 0 3000px var(--mid-lilac);
}

#main-range-input input::-moz-range-thumb {
    box-shadow: -3007px 0 0 3000px var(--mid-lilac);
}

/* El input de rango que actuará como cambiador de volumen, tiene margen adicional (necesario para el diseño de interfaz) */
#volume-input{
    margin: 0 15px 0 5px;
}

.dropdown-menu {
    position: absolute;
    visibility: hidden;
    bottom: 110px;
    padding: var(--nav-padding-y) var(--nav-padding-x);
    background: linear-gradient(45deg, var(--high-lilac-slate-gray) 50%, var(--slate-lavender));
    box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
    border-radius: var(--radius);
    width: 160px;
    z-index: 10;
}

.dropdown-lists{
    position: absolute;
    bottom: 112px;
    right: 170px;
    padding: var(--nav-padding-y) var(--nav-padding-x);
    background-color: var(--high-lilac-slate-gray);
    box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
    border-radius: var(--radius);
    width: 255px;
    height: 45px;
    z-index: 9;
    display: none;
    align-items: center;
    gap: 5px;
    appearance: auto;
    padding-left: 8px;
}

.dropdown-menu a {
    color: var(--low-lilac);
    padding: 8px;
    border-radius: var(--radius);
    text-decoration: none;
    display: block;
    margin: 5px;
}

.dropdown-menu a:hover {
    background-color: var(--slate-lilac);
}

.dropdown-lists select{
    height: 30px;
    width: 200px;
    border: 2px solid var(--mid-lilac);
    background-color: transparent;
    border-radius: var(--radius);
    padding: 0 5px;
    color: var(--low-lilac);
}

.dropdown-lists select option{
    background-color: var(--high-lilac-slate-gray);
}

.dropdown-lists span:first-child{
    font-size: 15px !important;
}

.dropdown-lists img{
    position: fixed;
    margin-left: 175px;
}

#player-add-song{
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--low-blue-slate-gray) !important;
    color: var(--high-lilac-slate-gray) !important;
    font-size: 25px !important;
    width: fit-content !important;
    height: fit-content !important;
    border-radius: var(--radius);
    cursor: pointer;
}
