.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#close-modal {
    position: absolute;
}

.close {
    position: absolute;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #aaa;
}

.close:hover,
.close:focus {
    color: var(--mid-lilac);
}


#form {
    display: grid;
    place-items: center;
    width: 400px;
    padding: 25px;
    padding-bottom: 40px;
    background: linear-gradient(45deg, var(--high-lilac-slate-gray) 50%, var(--slate-lavender)) fixed;
    box-shadow: 0px 15px 60px var(--mid-lilac);
    outline: 1px solid var(--mid-lilac);
    border-radius: 10px;
    z-index: 12;
}

#form-body {
    width: 90%;
}

#welcome-lines {
    text-align: center;
    line-height: 1;
}

#welcome-line-1 {
    color: var(--mid-lilac);
    font-weight: 600;
    font-size: 40px;
}

#welcome-line-2,
.instruccion {
    color: #ffffff;
    font-size: 18px;
    margin-top: 17px;
}

#input-area {
    margin-top: 40px;
}

.form-inp {
    padding: 11px 25px;
    background: transparent;
    border-bottom: 1px solid var(--mid-lilac);
    line-height: 1;
}

.form-inp:first-child {
    margin-bottom: 15px;
}

.form-inp input {
    width: 100%;
    background: none;
    font-size: 13.4px;
    color: var(--mid-lilac);
    border: none;
    padding: 0;
    margin: 0;
}

.form-inp input:focus {
    outline: none;
}

.form-inp input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: var(--mid-lilac);
    border: none !important; 
    text-decoration: none !important; 
}

#submit-button-cvr {
    margin-top: 20px;
}

#submit-button,
#continuar-button,
#login-submit-button {
    display: block;
    width: 100%;
    color: var(--mid-lilac);
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid var(--mid-lilac);
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

#submit-button:hover,
#continuar-button:hover,
#login-submit-button:hover {
    transition: all ease-in-out .3s;
    background-color: var(--mid-lilac);
    color: #161616;
    cursor: pointer;
}

#forgot-pass {
    text-align: center;
    margin-top: 10px;
}

#forgot-pass a {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
}

#bar {
    position: absolute;
    left: 50%;
    width: 28px;
    height: 8px;
    margin-left: -33px;
    margin-top: 10px;
    background-color: var(--mid-lilac);
    border-radius: 10px;
}

#bar:before,
#bar:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ececec;
    border-radius: 50%;
}

#bar:before {
    right: -20px;
}

#bar:after {
    right: -38px;
}