@media screen and (max-width: 1650px) {
    #circle-orbit-container{
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    
    #random-container{
        height: fit-content;
    }

    .big-card{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        height: fit-content;
        gap: 10px;
    }
    
    .big-card section{
        justify-content: center;
    }

    .big-card img {
        width: 170px;
        height: 170px;
    }

    .big-card h3:first-child {
        font-size: 30px;
    }

    .big-card h3:not(:first-child) {
        font-size: 20px;
    }

    .footer{
        flex-direction: column;
        height: fit-content;
        gap: 40px;
    }

    .contact:not(:last-child){
        flex-direction: row;
        gap: 20px;
    }
}

@media screen and (max-width: 1530px) {

    #playlist-info section{
        width: calc(100% - 300px);
    }

}

@media screen and (max-width: 1300px) {

    .v-line, .h-line{
        display: none;
    }

    .functionality{
        justify-content: center;
    }

    .subtitle.bigger{
        text-align: center;
        font-size: 45px;
    }

    .info-card{
        justify-content: center;
    }

    .info-card h2{
        font-size: 25px;
    }

    .tech section{
        width: 200px;
    }

    .tech section img {
        width: 100px;
    }

    .tech section h2{
        font-size: 25px;
    }

    .tech{
        width: 800px;
    }

    #nativefier{
        height: 80px;
    }

    .subtitle{
        width: 500px;
        text-align: center;
    }
    .full-screen .subtitle.bigger {
        width: 100%;
    }

    .info-card.main .subtitle{
        text-align: left;
    }
}


@media screen and (max-width: 1180px) {

    #profile-inp{
        width: fit-content;
        flex-direction: column;
        gap: 31px;
    }

    #password-inp{
        width: 90%;
    }

}


@media screen and (max-width: 1100px) {
    
    .tracks-and-related{
        flex-direction: column;
    }

    #playlist-name{
        font-size: 70px;
    }

    .personal-note{
        width: 90%;
    }

    .stats-note{
        gap: 20px;
    }

    .user-stats{
        gap: 10px;
        flex-direction: column;
        justify-content: left;
    }

    .user-stats span{
        width: 100%;
    }
}

@media screen and (max-width: 900px){

    #playlist-img, #playlist-img-container{
        display: none;
    }

    #playlist-info{
        border-bottom: 0;
    }

    #playlist-controls{
        height: 50px;
        border-bottom: 5px solid var(--mid-lilac);
        border-radius: var(--radius);
    }

    .company-info{
        width: 100%;
    }

    .company-info img{
        display: none;
    }

}