#settings-display{
    gap: var(--separation);
    display: none;
}

#settings-display h2{
    font-size: 70px;
    color: var(--low-blue-slate-gray);
    margin-top: 20px;
}

#settings-display .form-inp{
    margin: 0;
}

#user-settings{
    display: flex;
    flex-direction: column;
    gap: var(--separation);
}

.settings-inp{
    display: flex;
    flex-direction: column;
    gap: var(--separation);
    border: none;
    width: 500px;
}

#password-inp, #profile-inp{
    width: 1000px;
}

#profile-inp {
    flex-direction: row;
}

#profile-inp section{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: var(--separation);
}

#password-inp p{
    color: var(--mid-lilac);
    text-align: justify;
    font-size: 20px;
}

#password-inp p span{
    text-decoration: underline;
    cursor: pointer;
}

#password-inp p span:hover{
    color: var(--low-blue-slate-gray);
}

.settings-inp input{
    border-bottom: 1px solid var(--mid-lilac);
    font-size: 20px;
    padding: 8px;
}

input[type="file"] {
    position: relative;
    outline: none;
    border: 1px solid var(--mid-lilac);
    padding: 0;
    cursor: pointer;
}

  /* Faked label styles and icon */
input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    cursor: pointer;
    height: 45px;
    width: 40px;
    content: "";
    background: url("../img/upload.svg") no-repeat;
}

input[type="file"]::file-selector-button {
    padding: 0 16px;
    width: 40px;
    height: 40px;
    color: transparent;
    background-color: var(--mid-lilac);
    border: 0px solid transparent;
    margin-right: 16px;
    transition: background-color 200ms;
}
  
input[type="file"]::file-selector-button:hover {
  background-color: var(--high-lilac)
}

#password-inp section > *{
  width: 500px;
}

#password-inp section{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#password-inp #code-inp{
  justify-content: left;
  width: fit-content;
  margin-bottom: -3px;
}
