#user-display{
    gap: 25px;
    display: none;
}

#user-display h3{
    margin-top: 10px;
}

/* Contendor del fondo de usuario */
.user-big-container{
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--mid-lilac);
    margin-top: var(--separation);
    border-radius: var(--radius);
}

.user-big-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: var(--mid-lilac);
}

.user-main-container{
    width: inherit;
    height: 250px;
    margin: -150px 0 15px 0;
    padding-left: 40px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 25px;
}

.user-main-container img{
    width: 250px;
    height: 250px;
    border: 5px solid var(--mid-lilac);
    background-color: var(--mid-lilac);
    border-radius: var(--radius);
    object-fit: cover;
}

#user-name{
    font-size: 90px;
    font-weight: bold;
    color: var(--low-blue-slate-gray);
}

.user-note-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 60px;
}

.user-note{
    border-radius: var(--radius);
    border-bottom-left-radius: var(--separation);
    padding: 15px var(--separation);
    margin-bottom: 5px;
    display: inline-block;
    width: 800px;
    margin-right: 200px;
    background-color: var(--high-lilac);
    position: relative;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

#user-quote {
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    color: var(--low-lilac);
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

#user-quote::-webkit-scrollbar {
    width: 5px;
}

#user-quote::-webkit-scrollbar-track {
    background-color: var(--slate-lilac);
}

#user-quote::-webkit-scrollbar-thumb {
    background-color: var(--mid-lilac);
    border-radius: 3px;
}


.user-note:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -10px;
    height: 20px;
    width: 20px;
    background: var(--high-lilac);
    border-bottom-right-radius: 15px;
}

.user-note:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: linear-gradient(45deg, var(--high-lilac-slate-gray) 50%, var(--slate-lavender)) fixed;
    border-bottom-right-radius: 10px;
}

#user-display h3{
    margin-top: var(--separation);
}

#user-display .artist-redirect:hover{
    text-decoration: none;
}

.stats-note{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--slate-lavender);
    width: fit-content;
}

.stats-note:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -10px;
    height: 20px;
    width: 20px;
    background: var(--slate-lavender);
    border-bottom-right-radius: 15px;
}

.stats-note:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: linear-gradient(45deg, var(--high-lilac-slate-gray) 50%, var(--slate-lavender)) fixed;
    border-bottom-right-radius: 10px;
}


.user-stats{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: flex-end;
}

.user-stats h4{
    font-size: 25px;
    color: var(--low-blue-slate-gray);
    font-weight: bold;
}

.user-stats span{
    font-size: 20px;
    color: var(--low-lilac);
}

#user-display .scroll-left, #user-display .scroll-right{
    display: none;
}

#main-user-playlists{
    overflow-x: auto;
    padding-bottom: var(--separation);
}

/* Ancho de la barra de desplazamiendo del contenedor 'scrollable-content' */
#main-user-playlists::-webkit-scrollbar {
    height: 5px;
}

/* Fondo de la barra de desplazamiendo del contenedor 'scrollable-content' */
#main-user-playlists::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: var(--radius);
}


/* Cursor de la barra de desplazamiendo del contenedor 'scrollable-content' */
#main-user-playlists::-webkit-scrollbar-thumb {
    background: linear-gradient(79deg, rgba(55,58,81,1) 18%, rgba(117,91,125,1) 58%, rgba(173,136,176,1) 86%);
    border-radius: var(--radius);
    cursor: pointer;
}